.tarjetaProyecto{
    border: 1px solid black;
    padding: 1rem; 
    margin: 1rem;
    color: #888;
}

.containerTarjetas{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.ul{
    justify-content: center; 
    width: 200px;
    padding: 1rem;
    background-color:blanchedalmond;
    color: black;
}

.ul2{
    display: flex;
    gap: 1rem;
}

.containerEquipo{
    justify-content: center;
    align-items: center;
}

.btn{
    border-radius: 0px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color:coral;
    cursor: pointer;
    color: black;
}